@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* DEFAULT SETTINGS */
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.25rem;
  background: url('/Assets/Images/bg-madeira.jpg');
  overflow-x: hidden;
}

/* VARIABLES */
:root {
  --default-red: #bf1d23;
  --default-green: #088345;
  --default-yellow: #ffc904;
}
