#header {
  display: flex;

  background-color: #fff;
  height: 8.9375rem ;
  
}



figure {
  border-left: 19px solid #FFCA05;
  background-color: #BF1D23;
  padding: 0.625rem;
}

figure figcaption {
  color: #fff;
  font-weight: bold;
  text-align: center;
}