#header {
  display: flex;

  background-color: #fff;
  height: 8.9375rem ;
  
}

#header .logo {
  margin-left: 1.25rem;
}



#header figure {
  display: grid;
  align-items: center;
  width: 9.375rem;

  border-left: 1.18rem solid #FFCA05;
  background-color: #BF1D23;
  padding: 0.625rem;
}

#header figure img {
  width: 100%;
}

#header figure figcaption {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  text-align: center;

}