/* BANNER */
#banner figure {
  display: flex;
}

#banner figure img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 250px;
  top: 100px;
}

#banner figure figcaption p {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

#banner figure .bannerText1 {
  margin-top: 20px;
  background: #577e39;
  width: 130%;
  padding: 10px;
}

#banner figure .bannerText2 {
  margin-top: 15px;
  background: #577e39;
  width: 130%;
  padding: 10px;
}

/* CHAMADAS */
.cards {
  background-color: #fff;
  margin-top: 70px;
  padding: 50px;
}

.card1,
.card2,
.card3 {
  margin-top: 20px;
}

.card1::after {
  content: '';
  width: 349px;
  height: 0px;
  background-color: #bf1d2210;

  position: absolute;
  left: 50px;
  top: 420px;
  transition: 0.2s;
}

.card1:hover::after {
  height: 300px;
}

.card2::after {
  content: '';
  width: 349px;
  height: 0px;
  background-color: #08834614;

  position: absolute;
  left: 50px;
  top: 810px;
  transition: 0.2s;
}

.card2:hover::after {
  height: 300px;
}

.card3::after {
  content: '';
  width: 349px;
  height: 0px;
  background-color: #08834614;

  position: absolute;
  left: 50px;
  top: 1200px;
  transition: 0.2s;
}

.card3:hover::after {
  height: 300px;
}

.cards h1 {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.card1 h1 {
  border-bottom: 5px solid var(--default-red);
}

.card2 h1 {
  border-bottom: 5px solid var(--default-green);
}

.card3 h1 {
  border-bottom: 5px solid var(--default-yellow);
}

.card1 .icon-local_pizza,
.icon-calendar,
.icon-phone {
  margin-left: 140px;
  margin-bottom: 80px;
  font-size: 90px;
}

.card1 .icon-local_pizza {
  color: var(--default-red);
  display: inline-block;
  transition: 0.2s;
}

.card1:hover .icon-local_pizza {
  transform: scale(1.2);
}

.card2 .icon-calendar {
  color: var(--default-green);
  display: inline-block;
  transition: 0.2s;
}

.card2:hover .icon-calendar {
  transform: scale(1.2);
}

.card3 .icon-phone {
  color: var(--default-yellow);
  display: inline-block;
  transition: 0.2s;
}

.card3:hover .icon-phone {
  transform: scale(1.2);
}

.cards p {
  text-align: center;
}

.button {
  margin-top: 25px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.card1 .button {
  background-color: var(--default-red);
}

.card1:hover .button {
  background-color: #760f13;
}

.card2 .button {
  background-color: var(--default-green);
}

.card2:hover .button {
  background-color: #034323;
}

.card3 .button {
  background-color: var(--default-yellow);
}

.card3:hover .button {
  background-color: #d2a70d;
}
